<div class="d-inline-block" style="padding-top: 5px">
    <input type="image" class="image" src="assets/search_18dp.png" />
    <input [value]="searchTextBoxValue" (keyup)="$event.keyCode == 13 ? search() : null">
    <button class="delete" (click)="clear()"><input type="image" class="image" src="assets/erase.png" /></button>
    <button (click)="search()" class="search">Search</button>
</div>
