button {
  border: none !important;
  background-color: unset;

  .delete {
    position: relative;
    top: 5px;
  }

  .search {
    height: 30px !important;
    top: 5px !important;
    background-color: black !important;
    color: white !important;
  }
}

.image {
  border: none !important;
  width: 20px !important;
}
