<div class="button-no-border">
    <div *ngIf="tableInputs.isBackButtonVisible || tableInputs.title" class="row">
        <div *ngIf="tableInputs.isBackButtonVisible" class="col-lg-1">
            <button class="button" (click)="back()"><input type="image" class="image"
                    src="assets/pre-scr.png" /></button>
        </div>

        <div *ngIf="!!tableInputs.title" class="col-lg-11 detail">
            <h5>{{tableInputs.title}}</h5>
        </div>
    </div>

    <div class="row"
        *ngIf="tableInputs.isSearchBoxVisible || tableInputs.isPaginatorVisible || tableInputs.isPageNumberVisible">
        <div class="search-paging-height">
            <lib-search-text-box *ngIf="tableInputs.isSearchBoxVisible" (onSearch)="onClickSearch($event)"
                [ngClass]="{ 'disable': (tableInputs.disableSearch !== undefined ? tableInputs.disableSearch : tableInputs.disable) }">
            </lib-search-text-box>
        </div>

        <div class="search-paging-height d-flex justify-content-end" [ngClass]="!isGridInDialog ? 'col-lg-6': 'col-12'"
            [class.d-none]="removeContainerOfPagingBlock">
            <div
                [ngStyle]="{'visibility': tableInputs.isPaginatorVisible !== undefined ? (tableInputs.isPaginatorVisible ? 'visible' : 'hidden') : 'visible'}">
                <mat-paginator #paginator [length]="tableInputs.data.totalCount" [pageSize]="pageSize"
                    [pageIndex]="dataGridEntity.pageIdx"
                    [disabled]="tableInputs.disablePager !== undefined ? tableInputs.disablePager : tableInputs.disable"
                    [pageSizeOptions]="tableInputs.isPageSizeChangeable ? tableInputs.pageSizes : undefined"
                    (page)="gridPageChange($event)" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
            <div style="margin-top: 7px;"
                [ngStyle]="{'display': tableInputs.isPageNumberVisible !== undefined ? (tableInputs.isPageNumberVisible ? 'block' : 'none') : 'block'}">
                <label class="mr-1">Page</label>
                <input class="page-no mr-1" (keyup.enter)="onPageEnter($event)" [value]="pageNum" />
                <label>/ {{totalPages}}</label>
            </div>
        </div>
    </div>

    <div class="row white_background no-margin">
        <div class="col-lg-12">
            <mat-table [dataSource]="tableInputs.data.items" matSort (matSortChange)="sort($event)"
                [ngClass]="{ 'disable-act': tableInputs.disable }">
                <div *ngIf="tableInputs.multiSelector">
                    <ng-container matColumnDef="check">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let item">
                            <input type="checkbox" (change)="onCheckedChange($event, item)"
                                [checked]="selectedIds.includes(item.id)" />
                        </mat-cell>
                    </ng-container>
                </div>

                <ng-container *ngFor="let col of tableInputs.data.columns; let idx = index;"
                    matColumnDef="{{col.value}}">
                    <mat-header-cell *matHeaderCellDef class="mat-header mat-align-left"
                        mat-sort-header="{{sortColNames[idx]}}"
                        [ngClass]="[col.value+'-header', (noSortCols[idx] == col.value ? 'no-sort' : '')]">{{col.key}}
                    </mat-header-cell>

                    <mat-cell *matCellDef="let item" class="mat-cell mat-align-right" [ngClass]="col.value+'-cell'"
                        [ngStyle]="item[col.value] ? item[col.value].cssContent : ''">
                        <label
                            *ngIf="!!tableInputs.data.cellControls ? tableInputs.data.cellControls[idx] === controlType.Cell : true">
                            {{(item[col.value] || item[col.value] == 0) ? (item[col.value].text || item[col.value]) : ''}}
                        </label>

                        <mat-checkbox [name]="item[col.value].name"
                            *ngIf="!!tableInputs.data.cellControls ? tableInputs.data.cellControls[idx] === controlType.Checkbox : false"
                            (change)='onGridCheckedChanged($event, item)' [checked]="item[col.value].valueChk"
                            [disabled]="item[col.value].disabled">
                        </mat-checkbox>

                        <input type="text"
                            *ngIf="!!tableInputs.data.cellControls ? tableInputs.data.cellControls[idx] === controlType.Text : false"
                            [value]="item[col.value].text" [disabled]="item[col.value].disabled"
                            [name]="item[col.value].name" (change)="onGridCellTextChanged($event, item)"
                            (keypress)="onGridCellTextKeypress($event, item[col.value])" />

                        <input type="number"
                            *ngIf="!!tableInputs.data.cellControls ? tableInputs.data.cellControls[idx] === controlType.Num : false"
                            [value]="item[col.value].text" [disabled]="item[col.value].disabled"
                            [name]="item[col.value].name" (change)="onGridCellTextChanged($event, item)"
                            (keypress)="onGridCellTextKeypress($event, item[col.value])" />

                        <a *ngIf="!!tableInputs.data.cellControls ? tableInputs.data.cellControls[idx] === controlType.Link : false"
                            style="text-decoration: underline;" (click)="onLinkClick(item)">
                            <label>
                                {{(item[col.value] || item[col.value] == 0) ? (item[col.value].text || item[col.value]) : ''}}
                            </label>
                        </a>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ highlight: isSelectedRow(row) }"
                    (dblclick)="tableInputs.rowDblClickEnable ? onDoubleClick(row) : undefined"
                    (click)="setCurrentItem(row)" [style.background]="isSelectedRow(row) ? 'LemonChiffon' : ''">
                </mat-row>
            </mat-table>
        </div>

        <div class="col-lg-12"
            *ngIf="tableInputs.isAddButtonVisible || tableInputs.isDeleteButtonVisible || tableInputs.isEditButtonVisible">
            <mat-toolbar>
                <mat-toolbar-row>
                    <button mat-button *ngIf="tableInputs.isAddButtonVisible" (click)="onAddClicked()"
                        [ngClass]="{'disable': tableInputs.disable}">Add</button>

                    <button mat-button *ngIf="tableInputs.isEditButtonVisible" (click)="onEditClick()"
                        [ngClass]="{'disable': tableInputs.disable}">Edit</button>

                    <button mat-button *ngIf="tableInputs.isDeleteButtonVisible" (click)="onDeleteClicked()"
                        [ngClass]="{'disable': tableInputs.disable}">Delete</button>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>