button {
  width: 45px;
  height: 45px;
  border: none !important;
  background-color: unset;

  .button {
    position: relative;
    top: 5px;

    .image {
      border: none !important;
      width: 20px !important;
    }
  }
}

.detail h5 {
  font-size: small;
  font-weight: bold;
  display: inline-block;
  padding-top: 5px;
  color: #222c3d;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.disable-act {
  pointer-events: none;
}

.page-no {
  width: 35px;
  text-align: center;
}

.total-paging {
  top: 8px;
  font-size: 15px;
}

.search-paging-height {
  height: 40px;
}
